<div class="wrapper">
  <div class="main mat-elevation-z2">
    <div class="toolbar">

      <button *ngIf="fileService.touchSelect && (fileService.selectedFolders.length>0 || fileService.selectedFiles.length > 0)" (click)="clearSelection()" mat-icon-button matTooltip="Pobierz">
        <mat-icon class="icon">
          clear
        </mat-icon>
      </button>

      <button *ngIf="displayDownload()" (click)="fileService.download()" mat-icon-button matTooltip="Pobierz">
        <mat-icon class="icon">
          file_download
        </mat-icon>
      </button>

      <button *ngIf="displayDownload()" (click)="fileService.delete()" mat-icon-button matTooltip="Usuń">
        <mat-icon class="icon">
          delete
        </mat-icon>
      </button>

      <button *ngIf="fileService.selectedFolders.length==1 && fileService.selectedFiles.length==0" (click)="changeFolderName()" mat-icon-button matTooltip="Zmień nazwe folderu">
        <mat-icon class="icon">
          drive_file_rename_outline
        </mat-icon>
      </button>

      <button *ngIf="fileService.selectedFolders.length>0 && fileService.selectedFiles.length==0 && starIconMode()" (click)="setFavorite()" mat-icon-button matTooltip="Dodaj do ulubionych">
        <mat-icon  class="icon">
          star_border
        </mat-icon>
      </button>

      <button *ngIf="fileService.selectedFolders.length>0 && fileService.selectedFiles.length==0 && !starIconMode()" (click)="setFavorite()" mat-icon-button matTooltip="Usuń z ulubionych">
        <mat-icon class="icon">
          star
        </mat-icon>
      </button>




      <button (click)="openTransferDialog()" *ngIf="fileService.transferIconShowing()" mat-icon-button matTooltip="Przenieś plik lub folder">
        <mat-icon class="icon">
          drive_file_move
        </mat-icon>
      </button>

      <button *ngIf="fileService.currentZipFiles.length>0 || fileService.uploading.length>0" (click)="openBottomSheet()" mat-icon-button>
        <mat-icon [matBadge]="badgeNumber()" [matBadgeHidden]="badgeNumber()==0" matBadgeSize="small" matBadgeColor="accent" class="icon rotated">
          autorenew
        </mat-icon>
      </button>

      <button [matMenuTriggerFor]="menu" mat-icon-button matTooltip="Dodaj plik lub folder">
        <mat-icon class="icon">
          add
        </mat-icon>
      </button>


    </div>


    <div  class="list" appDropzone>
      <app-file-list-header ></app-file-list-header>
      <div *ngIf="fileService.folders.length>0 || fileService.files.length > 0 || fileService.currentFolder" >

        <app-file-list-item-folder *ngIf="fileService.currentFolder" [folder]="fileService.currentFolder" [returnFolder]="true"></app-file-list-item-folder>

        <app-file-list-item-folder  *ngFor="let folder of fileService.folders;let i = index"
                                    [folder]="folder" [index]="i"></app-file-list-item-folder>

        <app-file-list-item-file *ngFor="let file of fileService.files;let i = index" [index]="i+fileService.folders.length" [file]="file">

        </app-file-list-item-file>

      </div>

      <div *ngIf="!fileService.currentFolder && fileService.folders.length == 0 && fileService.files.length == 0" class="empty">

        <div class="emptyTitle">
          Dodaj pliki
        </div>
        <div class="emptyDescription">
          Przeciągnij pliki lub użyj przycisku +
        </div>

      </div>
    </div>
  </div>
</div>




<input #fileInput (change)="fileInputClick($event)" style="display: none" type="file" multiple>
<mat-menu #menu>

  <button (click)="fileInput.click()" mat-menu-item>
    <mat-icon>attach_file</mat-icon>
    <span>Plik</span>
  </button>

  <button (click)="createFolder()" mat-menu-item>
    <mat-icon>folder</mat-icon>
    <span>Folder</span>
  </button>

</mat-menu>

