<app-wrapper *ngIf="!showSpinner() && !(paymentService.subscription && loadingPayments)" maxWidth="1000px" [title]="getTitle()">

  <div class="main" >

    <div *ngIf="!tier && !paymentService.subscription" class="cards">
      <app-plan-card title="Darmowy" [size]="5" price="-------" [current]="true"></app-plan-card>
      <app-plan-card title="Podstawowy" [size]="15" price="4,99 zł miesięcznie"
                     (tierChosen)="chooseTier('basic')"></app-plan-card>
      <app-plan-card title="Standardowy" [size]="50" price="9,99 zł miesięcznie"
                     (tierChosen)="chooseTier('standard')"></app-plan-card>
      <app-plan-card title="Premium" [size]="100" price="19,99 zł miesięcznie"
                     (tierChosen)="chooseTier('premium')"></app-plan-card>
    </div>

    <div class="payment" *ngIf="tier && !paymentService.subscription">

      <div class="radio" *ngIf="paymentService.cards.length>0">

        <div class="cardTitle">Sposób płatności:</div>
        <mat-radio-group  [formControl]="radioFromControl" [value]="">
          <mat-radio-button *ngFor="let cardM of paymentService.cards,let i = index" [value]="i">

            <div class="radioMain">
              <div class="radioWrapper">
                <div class="cardNumber">
                  {{cardM.brand | titlecase}}
                  <div class="stars">
                    ••••
                  </div>
                  {{cardM.lastDigits}}
                </div>
                <div class="cardExp">
                  Wygasa: {{cardM.expMonth}}/{{cardM.expYear.toString().substring(2, 4)}}
                </div>
              </div>
              <div class="radioSpacer">

              </div>
              <div class="radioName">
                {{cardM.name}}
              </div>
            </div>

          </mat-radio-button>
          <mat-radio-button  value="newCard">
            <div class="cardNumber">
              Nowa karta
            </div>

          </mat-radio-button>
        </mat-radio-group>


      </div>

      <div [style.display]="(paymentService.cards.length==0 || radioFromControl.value=='newCard')?'block':'none'">
        <div class="cardTitle">
          Dane karty
        </div>

        <ngx-stripe-card-group (change)="handleChange($event)">

          <ngx-stripe-card-number (change)="handleChange($event)" [options]="numberOptions"></ngx-stripe-card-number>

          <div class="elementsWrapper">

            <ngx-stripe-card-expiry (change)="handleChange($event)" class="elementsWrapperComponent"
                                    [options]="defaultOptions"></ngx-stripe-card-expiry>
            <ngx-stripe-card-cvc (change)="handleChange($event)"  class="elementsWrapperComponent" [options]="defaultOptions"></ngx-stripe-card-cvc>

          </div>


        </ngx-stripe-card-group>

        <div class="nameWrapper">
          <div class="cardTitle">
            Imie i nazwisko na karcie
          </div>

          <input [formControl]="nameControl" type="text">
        </div>
      </div>


      <button *ngIf="payLoading()" (click)="pay()" [disabled]="!payAvailable()" mat-raised-button color="primary">
        ZAPŁAĆ
      </button>

      <button *ngIf="!payLoading()" class="spinnerButton" (click)="pay()" [disabled]="true" mat-raised-button color="primary">
        <mat-spinner diameter="24" color="accent"></mat-spinner>
      </button>

    </div>

    <div class="cardDisplay" *ngIf="tier && !paymentService.subscription">

      <app-plan-details-card *ngIf="tier=='basic'" name="Podstawowy" size="15 GB"
                             price="4,99 zł miesięcznie"></app-plan-details-card>

      <app-plan-details-card *ngIf="tier=='standard'" name="Standardowy" size="50 GB"
                             price="9,99 zł miesięcznie"></app-plan-details-card>

      <app-plan-details-card *ngIf="tier=='premium'" name="Premium" size="100 GB"
                             price="19,99 zł miesięcznie"></app-plan-details-card>

      <button (click)="changeTier()" class="cancelButton" mat-raised-button>
        ZMIEŃ PLAN
      </button>

    </div>


    <div class="subscriptionDetailWrapper" *ngIf="paymentService.subscription">
      <app-subscription-details></app-subscription-details>
    </div>
  </div>


</app-wrapper>



<app-wrapper *ngIf="showSpinner()" maxWidth="1000px">
  <div class="spinnerWrapper" *ngIf="showSpinner()">
    <mat-spinner [strokeWidth]="4"></mat-spinner>
  </div>
</app-wrapper>

<app-wrapper *ngIf="!showSpinner() && (paymentService.subscription && loadingPayments)" maxWidth="1000px">
  <div class="spinnerWrapper" >
    <mat-spinner [strokeWidth]="4"></mat-spinner>
  </div>
</app-wrapper>
