<header class="mat-elevation-z1">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>

  <span>
    Dysk
  </span>
</header>

<div  #drawerWrapper class="drawerWrapper">
  <mat-drawer-container [hasBackdrop]="hasBackdrop" #drawerContainer>

    <mat-drawer (openedChange)="updateWidth()" [opened]="opened" [mode]="mode" mode="side" #drawer class="mat-elevation-z1">

      <app-link class="accountLink" icon="person" text="Konto" path="/account"></app-link>
      <mat-divider></mat-divider>
      <app-link icon="folder" [disableHighlight]="checkIfFavorite()" text="Pliki" path="/files"></app-link>
      <app-link icon="payment" text="Subskrypcja" path="/subscription"></app-link>

      <div *ngIf="fileService.favoriteFolders.length>0">



        <div class="favoriteTitleWrapper">
          <span class="favoriteTitleText">Ulubione foldery</span>
        </div>

        <app-link *ngFor="let folder of fileService.favoriteFolders" icon="folder_special" [text]="folder.folderName" [path]="'/files/'+folder.id"></app-link>

      </div>

      <mat-divider></mat-divider>

      <div *ngIf="fileService.storageSpace" class="storageSpace">
        <div class="storageSpaceTitle">Miejsce na dane</div>

        <mat-progress-bar [value]="(fileService.storageSpace.usedSpace/fileService.storageSpace.availableSpace)*100"></mat-progress-bar>

        <div class="storageSpaceDescription">
          Wykorzystano {{fileService.storageSpace.usedSpace| filesize}} z {{fileService.storageSpace.availableSpace | filesize}}
        </div>
      </div>

      <div class="spacer"></div>
      <app-link class="logoutLink" icon="logout" [logout]="true" text="Wyloguj się" path="/logout"></app-link>

    </mat-drawer>

    <mat-drawer-content>
      <div #innerDrawerWrapper class="innerDrawerWrapper">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

