<div (click)="select($event)" (press)="hold($event)" [class.activated]="isSelected() && !fileService.dragging"  class="main">

  <div [style.display]="widthService.nameDisplay" class="item name">

    <div class="iconWrapper">

        <mat-icon *ngIf="!(fileService.touchSelect && isSelected()) && (!file.hasThumbnail || !imageLoaded)"  class="icon material-icons" [class.activated]="isSelected() && !fileService.dragging">
          {{file.filename | icon }}
        </mat-icon>

        <img (load)="imageLoaded=true" *ngIf="!(fileService.touchSelect && isSelected()) && file.hasThumbnail" [style.display]="imageLoaded?'block':'none'" [src]="getSrc()">


        <mat-icon class="checkIcon" *ngIf="fileService.touchSelect && isSelected()">check</mat-icon>



    </div>


      <div class="nameText">
        {{file.filename}}
      </div>



  </div>

  <div [style.display]="widthService.sizeDisplay" class="item size lineWrapper">

    <div>
      {{file.size | filesize}}
    </div>

  </div>

  <div [style.display]="widthService.dateDisplay" class="item date lineWrapper">

    <div>
      {{file.date | date}}
    </div>

  </div>

</div>

