/* You can add global styles to this file, and also import other style files */
html{
  height: 100%;
  margin: 0;
}

body{
  height: 100%;
  margin: 0;
  overflow: hidden;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.sheet{
  min-width: 0 !important;
  padding: 0 !important;
}

.mat-button-focus-overlay {
  background-color: transparent!important;
}

.fileover{
  border: 1px solid #3cafdb !important;
  background-color: #65bcdd42;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(0,0,0,0.2); }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: transparent;
}

