<div class="wrapper">
  <div class="payWrapper mat-elevation-z4">




    <ngx-stripe-card-group >

      <ngx-stripe-card-number  [options]="numberOptions"></ngx-stripe-card-number>


      <div class="elementsWrapper">

        <ngx-stripe-card-expiry class="elementsWrapperComponent" [options]="defaultOptions"></ngx-stripe-card-expiry>

        <ngx-stripe-card-cvc class="elementsWrapperComponent" [options]="defaultOptions"></ngx-stripe-card-cvc>

      </div>


    </ngx-stripe-card-group>

    <br>

    <div>
      <button  mat-raised-button color="primary">
        SUBSKRYPCJA
      </button>
    </div>

    <!--<button (click)="pay()">PAY</button>-->
  </div>
</div>

