
  <div  (click)="select($event)" (tap)="tapped($event)" [class.activated]="isSelected()"  class="main">

    <div [style.display]="widthService.nameDisplay" class="item name">

      <div class="iconWrapper">
        <mat-icon class="icon" [class.activated]="isSelected()">folder</mat-icon>
      </div>

      <div *ngIf="!returnFolder">
        {{folder.folderName}}
      </div>

      <div *ngIf="returnFolder">
        ..
      </div>

    </div>

    <div [style.display]="widthService.sizeDisplay" class="item size lineWrapper">

      <div class="line">
      </div>

    </div>

    <div [style.display]="widthService.dateDisplay" class="item date lineWrapper">

      <div class="line">
      </div>

    </div>


  </div>

