<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="files/stylePassChanReq.css">
    <link rel="stylesheet" href="../public/files/stylePassChanReq.css">
</head>

<body>

    <div class="wrapper">

        <form class="main elevation" th:action="@{/password_change_request}" method="post">

            
            <div th:if="${error==null}" class="label">
                E-MAIL
            </div>

            <div th:if="${error=='notfound'}" class="label error">
                E-MAIL
                <span> - Nie znaleziono użytkownika z podanym adresem email </span>
            </div>

            <input type="text" id="email" name="email" autocomplete="email">

            
            <button class="loginButton">
                ODZYSKAJ HASŁO
            </button>

            <div class="registerWrapper">
                Przypomniałeś sobie hasło?
                <a href="/login">Zaloguj się</a>
            </div>

        </form>

    </div>




</body>

</html>