<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="files/stylePassChaMess.css">
    <link rel="stylesheet" href="../public/files/stylePassChaMess.css">
</head>

<body>

<div class="wrapper">

    <div class="main elevation" t>

        <div th:if="${errorToken!=null}" class="error">
            Wystąpił błąd podczas próby resetowania twojego hasła.

            <a href="/login" class="loginButton social">
                PRZEJDŹ DO LOGOWANIA
            </a>

        </div>

        <div th:if="${errorToken==null}">
            Hasło zostało zmienione.

            <a href="/login" class="loginButton social">
                PRZEJDŹ DO LOGOWANIA
            </a>

        </div>



    </div>

</div>


</body>

</html>