<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="files/styleRegSuc.css">
    <link rel="stylesheet" href="../public/files/styleRegSuc.css">
</head>

<body>

<div class="wrapper">

    <div class="main elevation" t>

        <div>
            Na twój adres e-mail został wysłany link aktywacyjny.
            <br>
            Skorzystaj z niego aby móc się zalogować.

            <a href="/login" class="loginButton social">
                PRZEJDŹ DO LOGOWANIA
            </a>

        </div>



    </div>

</div>


</body>

</html>